.footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px 0; /* Mengurangi padding vertikal */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Mengurangi intensitas shadow */
  transform: perspective(1000px) rotateX(0deg);
  transition: transform 0.5s ease;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Mengurangi padding */
}

.footer-logo-section {
  flex: 1;
  text-align: center;
}

.footer-logo {
  max-width: 120px; /* Mengurangi ukuran logo */
  margin-bottom: 10px; /* Mengurangi jarak logo */
}

.footer-description {
  font-size: 0.875rem; /* Mengurangi ukuran font */
  color: #bdc3c7;
  margin-top: 5px; /* Mengurangi jarak deskripsi */
}

.footer-links-and-contact {
  display: flex;
  justify-content: space-between;
  flex: 2;
  align-items: flex-start;
}

.footer-links-section,
.footer-contact-section {
  flex: 1;
  padding: 0 10px; /* Mengurangi padding antar section */
}

.footer-links-section h3,
.footer-contact-section h3 {
  font-size: 1.25rem; /* Mengurangi ukuran judul */
  color: #ecf0f1;
}

.footer-links-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-links-section ul li {
  margin-bottom: 8px; /* Mengurangi jarak antar item */
}

.footer-links-section a {
  text-decoration: none;
  color: #ecf0f1;
  transition: color 0.3s;
}

.footer-links-section a:hover {
  color: #3498db;
}

.footer-contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-info {
  display: flex;
  align-items: center;
}

.email-icon {
  width: 18px; /* Mengurangi ukuran icon */
  height: 18px;
  margin-right: 8px; /* Mengurangi jarak icon */
}

.email-link {
  text-decoration: none;
  color: #ecf0f1;
}

.email-link:hover {
  color: #3498db;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
}

.footer-bottom p {
  margin-bottom: 10px; /* Mengurangi jarak paragraf */
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 8px; /* Mengurangi jarak antar social icons */
}

.social-icon {
  width: 25px; /* Mengurangi ukuran icon sosial */
  height: 25px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.05); /* Mengurangi efek zoom */
}

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-links-and-contact {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .footer-links-section,
  .footer-contact-section {
    padding: 5px 0; /* Mengurangi padding pada tampilan mobile */
  }
}
