.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.content > div {
  padding: 40px 20px;
  border-bottom: 1px solid #ddd; /* Separator antar halaman */
}

footer {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
